body {
  height: 80%;
}

h1 {
  margin-left: 2.5%;
}

.about {
  margin-left: 4%;
  line-height: 5%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: white;
}